<% if user_signed_in? && (current_user.email == "dayanm@uninorte.com" || current_user.email == "hector@uninorte.com" || current_user.email == "julian@uninorte.com" ) %>
<h1>Registro de cedulas</h1>

<h3 class="text-center">Agregar un votante:</h3>
<p>Se registrará el votante en el puesto <%=@place.nombre%>, en <%=@place.ciudad%>, <%=@place.departamento%></p>
<%= form_for([@place, @place.voters.build]) do |f| %>
  <p>
    <%= f.label(:nombre,"Nombre y Apellidos") %><br>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label(:cedula,"Cedula") %><br>
    <%= f.text_field :cedula %>
  </p>
  <p>
    <button type="submit" class="btn btn-default">Registrar</button>
  </p>

<% end %>
<%end%>
